/* =========================
   RESET AMAN
   ========================= */
html, body {
    height: 100%;
    margin: 0;
}

/* =========================
   LOGIN WRAPPER
   ========================= */
.login-wrapper {
    min-height: 100vh;
    background:
        url('../img/bg_login.png') center center / cover no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========================
   CARD LOGIN
   ========================= */
.login-card {
    width: 20rem;
    border-radius: 12px;
    border: none;
}

/* =========================
   LOGO
   ========================= */
.login-logo {
    max-width: 180px;
    width: 100%;
    height: auto;
}

/* =========================
   FORM
   ========================= */
.login-card .form-control {
    border-radius: 8px;
    font-size: 0.9rem;
}

.login-card .btn-warning {
    border-radius: 8px;
    padding: 10px;
}

/* =========================
   BUTTON LOGIN
   ========================= */

.btn-login {
    background-color: #FFD800;
    border-color: #FFD800;
    color: #000000;
}

.btn-login:hover,
.btn-login:focus {
    background-color: #e6c200;
    border-color: #e6c200;
    color: #000000;
}

.btn-login:active {
    background-color: #ccad00;
    border-color: #ccad00;
}

